<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wedding Details</title>
    <link rel="stylesheet" type="text/css" href="static/wedding_app/css/style.css">
  </head>
  <body>
    <div class="example">
      <button class="button"><span id="demo" onclick="myFunction()">≡</span></button>
      <div hidden id="hidden-header">
        <p class="hidden-header"><a href="/">OUR WEDDING</a></p>
        <p class="hidden-header"><a href="/details">DETAILS</a></p>
        <p class="hidden-header"><a href="/accomodations">PLACES TO STAY</a></p>
        <p class="hidden-header"><a href="/photos">PHOTOS</a></p>
        <p class="hidden-header"><a href="/thingstodo">THINGS TO DO</a></p>
        <p class="hidden-header"><a href="/registry">REGISTRY</a></p>
      </div>
    </div>
    <div class="header">
      <a href="/">OUR WEDDING</a>
      <div class="dropdown">
        <a href="/details" id="dropdown-link">DETAILS</a>
          <div class="dropdown-content">
            <a href="/details">Directions</a>
            <a href="#rules">Venue Rules</a>
            <a href="/rsvp">RSVP</a>
          </div>
      </div>
      <a href="/accomodations">PLACES TO STAY</a>
      <a href="photos">PHOTOS</a>
      <a href="/thingstodo">THINGS TO DO</a>
      <div class="dropdown">
        <a href="/registry" id="dropdown-link">REGISTRY</a>
          <div class="dropdown-content">
            <a href="https://registry.theknot.com/nathan-osborne-laura-larson-october-2019-ca/35229191"><img src="static/wedding_app/img/the-knot.png" width="100%" alt=""></a>
            <a href="https://www.target.com/gift-registry/giftgiver?registryId=cb7c0ba3ef624469babbead2ad69d37b&lnk=registry_custom_url"><img src="static/wedding_app/img/target-logo.png" width="100%" alt=""></a>
          </div>
      </div>
    </div>

    <div class="wedding-info">
      <!-- <h2 style="color: white">.</h2>
      <p style="color: white">.</p> -->
      <!-- <h2 >The Venue</h2> -->
      <h3 style="text-decoration: underline" >Directions</h3>
      <p>If you are flying in, we recommend you fly in to Sacramento International Airport, as it is only 1 hr 45 mins from the venue. You can also fly into Oakland International Airport, which is just over 2 hours away. Murphys is approximately 2.5 hours from San Jose.</p><br>

      <div class="mapouter"><div class="gmap_canvas"><iframe width="90%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=the%20garden%20in%20Murphys&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.bitgeeks.net/embed-google-map/"></a></div></div>

      <h3 style="text-decoration: underline">Parking</h3>
      <p>Free public parking is available across the street at the Murphys Creek Theater. Once parked, on exiting the parking lot, turn right and continue approximately 50 feet. Venue will be on your left.</p>

      <h3 id="rules" style="text-decoration: underline">Venue Rules</h3>
      <p><span style="font-weight: bold">The pool is off limits. </span>Please do not enter the pool unless you would like to be thrown out. We don’t want to have you thrown out. And we certainly don’t want to have to ask you to pay the associated fine. But we will.</p>
      <p>Smoking and vaping on the premises will only be allowed in designated areas. This includes cigarettes, cigars, pipes, e-cigarettes, vape-pens, and anything in-between. And please properly dispose of your cigarette butts, there will be containers.<span style="display: none">SCOTT!!</span></p>
      <p>Sorry, people - no outside alcohol. There will be a bartender serving free wine and beer, so have at ours.</p>

      <h3><a href="/rsvp">RSVP Here</a></h3>


    </div>
    <!-- <div class="wedding-info">
      <h2 style="color: white">Join us for our Wedding</h2>
      <p style="color: white">Saturday, October 19th, 2019 at 1:00pm</p>
      <h2>Guest Accomodations</h2><br>

      <h3 style="text-decoration: underline">The Victoria Inn</h3><br>
      <img src="static/wedding_app/img/victoria-inn.jpg" width="80%" alt="">
      <p>402 Main Street Suite H, Murphys, CA 95247</p>
      <p>(209) 728-8933</p>
      <p>Located in Murphys at the heart of California Gold Country, The Victorian Inn offers classic bed and breakfast lodging that blends history with modern comforts.</p>
      <a href="https://www.victoriainn-murphys.com"><button type="button" name="button">Book a Room</button></a><br><br>

      <h3 style="text-decoration: underline">Historic Murphys Hotel & Saloon</h3><br>
      <img src="static/wedding_app/img/murphys-historic.jpg" width="80%" alt="">
      <p>4457 Main Street, Murphys, CA 95247</p>
      <p>(800) 532-7684</p>
      <p>In the very heart of Murphys is the picturesque old hotel now called the Murphys Historic Hotel. Centrally located in Calaveras County and California’s historic Gold Rush country, Murphys Historic Hotel anchors the town of Murphys at the corner of Main Street and Algiers.</p>
      <a href="http://murphyshotel.com"><button type="button" name="button">Book a Room</button></a><br><br>

      <h3 style="text-decoration: underline">Timberline Lodge</h3><br>
      <img src="static/wedding_app/img/timberline.jpg" width="80%" alt="">
      <p>890 Hwy 4, Arnold, CA 95223</p>
      <p>(209) 795-1053</p>
      <p>Located about 20 minutes NE of the wedding venue, enjoy the breath-taking views of the Sierra Nevada Mountains.</p>
      <a href="http://www.timberlinelodge.info"><button type="button" name="button">Book a Room</button></a><br><br>

      <h3 style="text-decoration: underline">Best Western Cedar Inn & Suites</h3><br>
      <img src="static/wedding_app/img/BW.jpg" width="80%" alt="">
      <p>444 S. Main St, Angels Camp, CA 95222</p>
      <p>(209) 736-4000</p>
      <p>Located about 15 minutes SW of the wedding venue, this Angels Camp hotel is central to California's historic gold country, with easy access to all that Sierra's have to offer.</p>
      <a href="https://www.bestwestern.com/en_US/book/hotels-in-angels-camp/best-western-cedar-inn-suites/propertyCode.05599.html"><button type="button" name="button">Book a Room</button></a><br><br>

      <h3 style="text-decoration: underline">Best Western Cedar Inn & Suites</h3><br>
      <img src="static/wedding_app/img/travelodge.jpg" width="80%" alt="">
      <p>600 N. Main St, Angels Camp, CA 95221</p>
      <p>(209) 736-4242</p>
      <p>Located about 15 minutes SW of the wedding venue, this hotel offers the perfect combination of country charm and city convenience, with a location central to exceptional golf, wine tastings, lakes, art galleries, and caverns.</p>
      <a href="https://www.wyndhamhotels.com/travelodge/angels-camp-california/travelodge-angels-camp-ca/overview"><button type="button" name="button">Book a Room</button></a><br><br>

    </div> -->

    <div class="footer">
      <p>Created by <a href="http://jonposo.com">Jonathan Poso</a></p>
    </div>

    <script>
    function myFunction() {
      text = document.getElementById("demo").innerHTML;
      console.log(text)
        if(text=='≡') {
          document.getElementById("demo").innerHTML = 'x'
          document.getElementById("demo").style.marginLeft = '1px';
          document.getElementById("hidden-header").style.display = "block"
          x = document.getElementsByClassName("wedding-info")
          console.log(x)
          x[0].style.display = "none"
          y = document.getElementsByClassName("footer")
          y[0].style.display = "none"
        }
        else{
          document.getElementById("demo").innerHTML = '≡'
          document.getElementById("demo").style.marginLeft = '-2px';
          document.getElementById("hidden-header").style.display = "none"
          x = document.getElementsByClassName("wedding-info")
          console.log(x)
          x[0].style.display = "block"
          y = document.getElementsByClassName("footer")
          y[0].style.display = "block"
        }
    }
    </script>

  </body>
</html>
